body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ui li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ui li a:hover{
    color: red;

}
.detel{
    margin-left: 8%;
    margin-top: 13%;
}
.detel h2{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}
.detel p{
    line-height: 22px;
    color: #555

}
.detel a{
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
